/* -------------------------------------------------------------------------- */
/*                               Root variables                               */
/* -------------------------------------------------------------------------- */
:global(:root){
    --color-hva-blue: #351EB6;
    --color-hva-navy: #1E1649;
    --color-hva-pink: #F25379;
    --color-hva-green: #02857D;
    --color-white: #FFFFFF;
}

:root{
    --color-hva-blue: #351EB6;
    --color-hva-navy: #1E1649;
    --color-hva-pink: #F25379;
    --color-hva-green: #02857D;
    --color-white: #FFFFFF;
}